@import '~src/_variables';
@import "@material/image-list/mdc-image-list";

.image-list-image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}

.browse-image-list {
  //@include mdc-image-list-aspect(1.5); // Images are 3:2
  @include mdc-image-list-standard-columns(12, 8px);
  //max-width: 1920px;
  @include mdc-image-list-shape-radius(8px);
}

@media (max-width: 1023px) {
.browse-image-list {
    @include mdc-image-list-standard-columns(8, 8px);
}
}

@media (max-width: 599px) {
  .browse-image-list {
      @include mdc-image-list-standard-columns(4, 8px);
  }
}

.loader {
  margin-top: 16px;
  margin-bottom: 16px;
}

.spinner {
  margin: auto;
}

.grid-item > a {
  -webkit-tap-highlight-color: transparent;
}
