.mat-display-1 {
  margin-bottom: 16px;
}
.mat-checkbox {
  margin-bottom: 8px;
}

.file-drag-drop {
  width: 100%;
  box-sizing: border-box;
  max-width: none;
}

.upload-status {
  margin-top: 16px;
}

.filename-text {
  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow: hidden;
}
