.mat-headline-4 {
  margin-bottom: 16px;
}
.mat-checkbox {
  margin-bottom: 8px;
}

.file-drag-drop {
  width: 100%;
  box-sizing: border-box;
  max-width: none;
}

.upload-status {
  margin-top: 16px;
}

.filename-text {
  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow: hidden;
}

.upload-progress-bar-container{
  flex-flow: wrap;
  box-sizing: border-box;
  display: flex;
  place-content: stretch space-between;
  align-items: stretch;
}
