
<div class="flex-column">
  <h2 class="mat-headline-4">Upload to Hydrus</h2>
  <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()" class="flex-column">


      <ngx-file-drag-drop class="file-drag-drop" #fileInput formControlName="fileInput" [multiple]="true"></ngx-file-drag-drop>
      <!-- <mat-icon matSuffix *ngIf="fileInput.empty">folder</mat-icon>
      <button mat-icon-button matSuffix *ngIf="!fileInput.empty" (click)="fileInput.clear($event)">
        <mat-icon>clear</mat-icon>
      </button> -->

    <mat-checkbox formControlName="addFilenameTag">Add filename tag (new files only)</mat-checkbox>

    <div class="button-row">
      <button mat-flat-button class="send-button" color="primary" type="submit" [disabled]="uploadForm.invalid || uploading$ | push">Upload</button>
    </div>
  </form>

  <div *rxIf="uploading$" class="upload-status">
    <div class="upload-progress-bar-container">
      <div class="filename-text"><span>Uploading {{uploadFilename$ | push}}</span></div>
      <div><span>{{percentUploaded$ | push | round}}%</span><span *rxIf="totalBytes$"> ({{upBytes$ | push | byteSize}}/{{totalBytes$ | push | byteSize}})</span></div>
    </div>
    <mat-progress-bar mode="determinate" [value]="percentUploaded$ | push"></mat-progress-bar>
  </div>


</div>
