<div fxLayout="column">
  <ng-template #recursiveList let-list>

  <mat-tab-group animationDuration="0ms" dynamicHeight class="pages-tab-group">
    <mat-tab *ngFor="let page of list" [label]="page.name">
      <ng-template matTabContent>
        <div *ngIf="page.pages && page.pages.length > 0">
          <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: page.pages }"></ng-container>
        </div>
        <div *ngIf="page.page_type === 6 || page.page_type === 7 || page.page_type === 3 || page.page_type === 1 || page.page_type === 2">
          <app-files-page [pageListItem]="page"></app-files-page>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
  </ng-template>


  <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: this.pages }"></ng-container>
</div>
