<form [formGroup]="apiSettingsForm" (ngSubmit)="submitApiSettings()" autocomplete="off">
<div class="settings-column flex-column">
  <mat-form-field appearance="outline">
    <mat-label>Hydrus API URL</mat-label>
    <input
      matInput
      name="hydrusApiUrl"
      formControlName="hydrusApiUrl"
      type="url"
      autocomplete="off"
      placeholder="https://my.hydrus.api/"
    >
  </mat-form-field>
  <mat-form-field appearance="outline">
      <mat-label>Hydrus API Key</mat-label>
    <input
      matInput
      name="hydrusApiKey"
      formControlName="hydrusApiKey"
      type="password"
      autocomplete="off"
    >
  </mat-form-field>
  <div class="button-row">
    <button mat-stroked-button color="primary" type="button" (click)="this.testApi()" [disabled]="!apiSettingsService.apiSet()">Test Saved Settings</button>
    <button mat-flat-button color="primary" type="submit" [disabled]="apiSettingsForm.invalid || apiSettingsForm.pristine">Save</button>
  </div>
</div>
</form>
