<div [formGroup]="control">
  <mat-form-field appearance="outline">
    <mat-label>Sort By</mat-label>
    <mat-select formControlName="sortType">
      <ng-template ngFor let-sortGroupOrType [ngForOf]="displaySortGroups">
        <mat-option *ngIf="isDisplaySortType(sortGroupOrType)" [value]="sortGroupOrType.sortType">
          {{sortGroupOrType.basicString}}
        </mat-option>
        <mat-optgroup *ngIf="!isDisplaySortType(sortGroupOrType)" [label]="sortGroupOrType.metaType">
          <mat-option *ngFor="let sortType of sortGroupOrType.sortTypes" [value]="sortType.sortType">
            {{sortType.basicString}}
          </mat-option>
        </mat-optgroup>
      </ng-template>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline" *ngIf="sortOrderInfo$ | async as sortOrderInfo">
    <mat-label>Order</mat-label>
    <mat-select formControlName="sortAsc">
      <mat-option [value]="true" [disabled]="!sortOrderInfo.canAsc">{{sortOrderInfo.ascString}}</mat-option>
      <mat-option [value]="false">{{sortOrderInfo.descString}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
