<div [formGroup]="control">
  <mat-form-field appearance="outline">
    <mat-label>Sort By</mat-label>
    <mat-select formControlName="sortType">
      @for (sortGroupOrType of displaySortGroups; track sortGroupOrType) {
        @if (isDisplaySortType(sortGroupOrType)) {
          <mat-option [value]="sortGroupOrType.sortType">
            {{sortGroupOrType.basicString}}
          </mat-option>
        }
        @if (!isDisplaySortType(sortGroupOrType)) {
          <mat-optgroup [label]="sortGroupOrType.metaType">
            @for (sortType of sortGroupOrType.sortTypes; track sortType) {
              <mat-option [value]="sortType.sortType">
                {{sortType.basicString}}
              </mat-option>
            }
          </mat-optgroup>
        }
      }
    </mat-select>
  </mat-form-field>
  @if (sortOrderInfo$ | async; as sortOrderInfo) {
    <mat-form-field appearance="outline">
      <mat-label>Order</mat-label>
      <mat-select formControlName="sortAsc">
        <mat-option [value]="true" [disabled]="!sortOrderInfo.canAsc">{{sortOrderInfo.ascString}}</mat-option>
        <mat-option [value]="false">{{sortOrderInfo.descString}}</mat-option>
      </mat-select>
    </mat-form-field>
  }
</div>
