<div fxLayout="column">
  <h2 class="mat-display-1 comics-header">Comics <span class="mat-small">alpha</span></h2>
  <mat-form-field >
    <mat-label>Title filter</mat-label>
    <input matInput type="text" autocomplete="off" #filter>
    <button mat-icon-button matSuffix (click)="filter.value = ''" type="button" title="Clear filter">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>
  <div class="loader" *ngIf="comicsService.loadingState.loading">
    <mat-progress-bar [mode]="comicsService.loadingState.barMode" [value]="comicsService.loadingState.total && comicsService.loadingState.progress ? (comicsService.loadingState.progress / comicsService.loadingState.total) * 100 : 0"></mat-progress-bar>
    <div fxLayout='row' fxLayoutAlign="space-between none">
      <div><span *ngIf="comicsService.loadingState.currentTag">{{comicsService.loadingState.currentTag}}</span></div>
      <div><span *ngIf="comicsService.loadingState.progress || comicsService.loadingState.total">
        {{comicsService.loadingState.progress ? comicsService.loadingState.progress : 0}}/{{comicsService.loadingState.total ? comicsService.loadingState.total : '?'}}
      </span></div>
    </div>
  </div>
  <div>
    <virtual-scroller class="virtual-scroll" #scroll [items]="comicsService.comicsFlat | filterBy: ['tag']: filter.value | orderBy: ['tag', 'volume']"
  [parentScroll]="appComponent.sidenavContent.getElementRef().nativeElement" [bufferAmount]="18">
      <ul class="mdc-image-list comics-image-list" #container>
        <li class="mdc-image-list__item grid-item"
          *ngFor="let comic of scroll.viewPortItems; trackBy: scrollTrackByFunction"
          title="{{comic.tag}} {{comic.volume}}">
          <a
            routerLink="/comics/view"
            [queryParams]="{title: comic.tag, volume: comic.volume}"
          >
            <div class="mdc-image-list__image-aspect-container" matBadge="{{comic.numFiles}}" [matBadgeOverlap]="true" matBadgePosition="below">
              <div class="mdc-image-list__image image-list-image"
                [ngStyle]="comic.coverFile.has_thumbnail ? {'background-image':'url('+ comic.coverFile.thumbnail_url +')'} : {'background-color' : '#c7c5cb'}"
                [ngClass]="'file-id-' + comic.coverFile.file_id"></div>
            </div>
          </a>
          <div class="mdc-image-list__supporting image-grid-supporting-text">
            <span class="mdc-image-list__label image-label">{{comic.tag.replace(comicsService.titleNamespace + ':', '')}}</span>
            <span class="mdc-image-list__label image-label">{{comic.volume?.replace('volume:', 'v')}}</span>
          </div>
        </li>
      </ul>
    </virtual-scroller>
  </div>
</div>

<app-toolbar-actions>
  <span class="mat-small toolbar-count">{{this.comicsService.loadingState.loading ?  'loading' : scroll.items.length}}</span>
  <button type="button" mat-icon-button aria-label="Refresh" (click)="refreshButton()"><mat-icon>refresh</mat-icon></button>
</app-toolbar-actions>
