@import '~src/_variables';
@import "@material/image-list/mdc-image-list";

.image-list-image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  animation: fadeIn ease 500ms;
  background-color: #c7c5cb;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.comics-image-list {
  //@include mdc-image-list-aspect(1.5); // Images are 3:2
  @include mdc-image-list-standard-columns(9, 8px);
  //max-width: 1920px;
  @include mdc-image-list-shape-radius(8px);

  @include mdc-image-list-aspect(0.75);
}

@media (max-width: 1023px) {
  .comics-image-list {
      @include mdc-image-list-standard-columns(6, 8px);
  }
}

@media (max-width: 599px) {
  .comics-image-list {
      @include mdc-image-list-standard-columns(3, 8px);
  }
}

.loader {
  margin-top: 16px;
  margin-bottom: 16px;
}

.spinner {
  margin: auto;
}

.grid-item > a {
  -webkit-tap-highlight-color: transparent;
}

.mat-display-1 {
  margin-bottom: 16px;
}

.mat-badge-content {
  right: 2px !important;
  bottom: 2px !important;
  min-width: 22px !important;
  width: auto !important;
}
