<div>
  <h2 class="mat-headline-4">About</h2>
  <mat-nav-list role="list">
    <div mat-subheader>General</div>
    <a mat-list-item role="listitem" [href]="repoURL + '/releases/tag/v' + env.versionInfo.version">
      <div matListItemTitle>Release Version</div>
      <div matListItemLine>Hydrus Web {{ env.versionInfo.version }}</div>
    </a>
    <mat-list-item role="listitem">
      <div matListItemTitle>Running on</div>
      <div matListItemLine><code>{{doc.location.origin}}</code></div>
    </mat-list-item>
    <a mat-list-item role="listitem" [href]="repoURL">
      <div matListItemTitle>GitHub Repo</div>
      <div matListItemLine><code>floogulinc/hydrus-web</code></div>
    </a>
    @if (this.updates.isEnabled) {
      <a mat-list-item role="listitem" (click)="updates.checkForUpdate()">
        <div matListItemTitle>Check for updates</div>
      </a>
    }
    @if (hydrusVersion.hydrusVersion$ | async; as v) {
      <a mat-list-item role="listitem">
        <div matListItemTitle>Hydrus Version</div>
        @if (v.hydrus_version) {
          <div matListItemLine>Hydrus Client {{v.hydrus_version}}</div>
        }
        <div matListItemLine>Client API {{v.version}}</div>
      </a>
    } @else {
      <a mat-list-item role="listitem" >
        <div matListItemTitle>Unknown Hydrus Version</div>
      </a>
    }
    <a mat-list-item role="listitem" (click)="boned()">
      <div matListItemTitle>How boned am I?</div>
    </a>
    <a mat-list-item role="listitem" (click)="services()">
      <div matListItemTitle>Hydrus Services</div>
    </a>
    <a mat-list-item role="listitem" (click)="options()">
      <div matListItemTitle>Hydrus Client Options</div>
    </a>
    <a mat-list-item role="listitem" (click)="reloadClientInfo()">
      <div matListItemTitle>Reload Client Information</div>
    </a>
    <mat-divider></mat-divider>
    <div mat-subheader>Debug</div>
    <a mat-list-item role="listitem" [href]="repoURL + '/commit/' + env.versionInfo.hash">
      <div matListItemTitle>Git Commit Hash</div>
      <div matListItemLine><code>{{env.versionInfo.hash}}</code></div>
    </a>
    <mat-list-item role="listitem">
      <div matListItemTitle>Git Branch</div>
      <div matListItemLine><code>{{env.versionInfo.branch}}</code></div>
    </mat-list-item>
    <mat-list-item role="listitem">
      <div matListItemTitle>{{env.production ? 'Production' : 'Development'}} Build</div>
    </mat-list-item>
    @if (env.versionInfo.vercel) {
      <a mat-list-item role="listitem" [href]="'https://' + env.versionInfo.vercel.VERCEL_URL + '/_logs'">
        <div matListItemTitle>Deployed on Vercel</div>
        <div matListItemLine><code>{{env.versionInfo.vercel.VERCEL_URL}}</code></div>
      </a>
    }
    <a mat-list-item role="listitem" (click)="filesService.clearFilesCache()">
      <div matListItemTitle>Clear session file metadata cache</div>
      <div matListItemLine>{{filesService.getFilesCacheSize()}} files cached</div>
    </a>
    <mat-list-item role="listitem">
      <div matListItemTitle>Platform</div>
      @if (platform.ANDROID) {
        <div matListItemLine>Android</div>
      }
      @if (platform.IOS) {
        <div matListItemLine>iOS</div>
      }
      @if (platform.BLINK) {
        <div matListItemLine>Blink</div>
      }
      @if (platform.EDGE) {
        <div matListItemLine>Edge</div>
      }
      @if (platform.FIREFOX) {
        <div matListItemLine>Firefox</div>
      }
      @if (platform.TRIDENT) {
        <div matListItemLine>Trident</div>
      }
      @if (platform.WEBKIT) {
        <div matListItemLine>WebKit</div>
      }
      @if (platform.SAFARI) {
        <div matListItemLine>Safari</div>
      }
    </mat-list-item>
    <a mat-list-item role="listitem" href="/ngsw/state">
      <div matListItemTitle>Service Worker</div>
      <div matListItemLine>{{this.updates.isEnabled ? "Enabled" : "Disabled" }}</div>
    </a>
    <mat-list-item role="listitem">
      <div matListItemTitle>Network</div>
      <div matListItemLine>{{window.navigator.onLine ? 'Online' : 'Offline'}}</div>
      <div matListItemLine>{{window.isSecureContext ? 'Secure Context' : 'Non-secure Context'}}</div>
    </mat-list-item>
    @if (navigator.storage) {
      <mat-list-item role="listitem">
        <div matListItemTitle>Storage</div>
        <div matListItemLine>{{storagePersisted ? "Persistent" : "Not Persistent " }}</div>
        @if (storageQuota && storageQuota.usage !== undefined && storageQuota.quota !== undefined) {
          <div matListItemLine>{{storageQuota.usage | bytes: 0}} used of {{storageQuota.quota | bytes: 0}}</div>
        }
      </mat-list-item>
    }
    <mat-list-item role="listitem">
      <div matListItemTitle>Viewport Info</div>
      <div matListItemLine>Page Size: {{window.innerWidth}}x{{window.innerHeight}} (Pixel Ratio: {{window.devicePixelRatio}})</div>
      <div matListItemLine>Screen Resolution: {{window.screen.width * window.devicePixelRatio}} x {{window.screen.height * window.devicePixelRatio}} (Orientation: {{window.screen.orientation.type}})</div>
    </mat-list-item>
  </mat-nav-list>
</div>
