<div fxLayout="column">
  <h2 class="mat-display-1">Send to Hydrus</h2>
  <form [formGroup]="sendForm" (ngSubmit)="onSubmit()" fxLayout="column">
    <mat-form-field appearance="outline">
      <mat-label>URL to send</mat-label>
      <input matInput type="url" autocomplete="off" required
      formControlName="sendUrl" placeholder="http://example.com/" >
      <button mat-icon-button matSuffix (click)="resetForm()" type="button" title="Clear URL">
        <mat-icon>clear</mat-icon>
      </button>
      <mat-error *ngIf="sendUrl.hasError('pattern') && !sendUrl.hasError('required')">
        Please enter a valid URL
      </mat-error>
      <mat-error *ngIf="sendUrl.hasError('required')">
        URL is required
      </mat-error>
    </mat-form-field>
    <mat-card *ngIf="this.currentUrlInfo" class="url-info-card">
      <mat-card-header>
        <mat-icon mat-card-avatar [color]="this.currentUrlFiles.url_file_statuses[0]?.status === 2 || this.currentUrlInfo.can_parse ? 'none' : 'warn'">
          {{this.currentUrlFiles.url_file_statuses[0]?.status === 2 ? 'library_add_check' : 'library_add'}}
        </mat-icon>
        <mat-card-title>{{this.currentUrlInfo.match_name}}</mat-card-title>
        <mat-card-subtitle>{{ this.currentUrlInfo.url_type_string }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content *ngIf="this.currentUrlFiles">
        {{this.currentUrlFiles.url_file_statuses[0] ? this.currentUrlFiles?.url_file_statuses[0].note : 'Not imported yet'}}
      </mat-card-content>
    </mat-card>
    <mat-form-field appearance="outline">
      <mat-label>Destination page name</mat-label>
      <input matInput type="text" autocomplete="off"
      formControlName="destPageName" placeholder="" >
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="end">
      <button mat-raised-button color="primary" type="button" [disabled]="sendForm.get('sendUrl').invalid" (click)="saucenaoLookup()">SauceNAO Lookup</button>
      <button mat-raised-button class="send-button" color="primary" type="submit" [disabled]="sendForm.invalid">Send to Hydrus</button>
    </div>
  </form>
  <mat-list *ngIf="saucenaoResults">
    <mat-list-item *ngFor="let result of saucenaoResults">
      <img matListAvatar class="saucenao-thumbnail" [src]="result.thumbnail">
      <div mat-line>{{result.site}}</div>
      <div mat-line *ngIf="result.authorName">{{result.authorName}}</div>
      <div mat-line>{{result.similarity}}%</div>
    </mat-list-item>
  </mat-list>
</div>
