<div class="header">
  <mat-slide-toggle [(ngModel)]="showRaw">Raw</mat-slide-toggle>
  <h1 mat-dialog-title>
    File Metadata
  </h1>
</div>

<mat-dialog-content>
  @if (fileMetadata$ | async; as metadata) {
    <div>
      @if (!showRaw) {
        <mat-list>
          @if (metadata.raw.Thumbnail?.base64) {
            <mat-list-item>
              <h2 matLine>Embedded Thumbnail</h2>
              <div matLine>
                <img class="metadata-thumbnail" [src]="'data:image/jpg;base64,' + metadata.raw.Thumbnail.base64">
              </div>
              <!-- stupid hack to force multi-line dynamic layout -->
              <div matLine></div>
              <div matLine></div>
              <div matLine></div>
            </mat-list-item>
          }
          @for (meta of metadata.array; track meta) {
            <mat-list-item class="mat-multi-line">
              <h2 matLine>{{meta.name}}</h2>
              @if (meta.description) {
                <p matLine>{{meta.description}}</p>
              }
            </mat-list-item>
          }
        </mat-list>
      } @else {
        <ngx-json-viewer [json]="metadata.raw"></ngx-json-viewer>
      }
    </div>
  } @else {
    <mat-spinner class="loading-spinner"></mat-spinner>
  }
  <ng-template #loading>
    <mat-spinner class="loading-spinner"></mat-spinner>
  </ng-template>
</mat-dialog-content>
