.loading-spinner {
  margin: 32px auto 0;
}

.header {
  /* TODO(mdc-migration): The following rule targets internal classes of slide-toggle that may no longer apply for the MDC version. */
  mat-slide-toggle {
    float: right;
  }
}

.metadata-thumbnail {
  max-width: 100%;
}
