<h1 mat-dialog-title>Siblings and Parents</h1>
<div mat-dialog-content>

  @if (siblingsAndParents$ | async; as siblingsAndParents) {
    <div>
      <mat-tab-group animationDuration="0ms" dynamicHeight>
        @for (service of siblingsAndParents | orderBy: 'serviceName' | orderBy: '-serviceType'; track service.serviceKey) {
          <mat-tab [label]="service.serviceName">
            <ng-template matTabContent>
              <mat-accordion multi>
                <mat-expansion-panel expanded>
                  <mat-expansion-panel-header>
                    Ideal
                  </mat-expansion-panel-header>
                  <mat-chip-listbox class="mat-mdc-chip-set-stacked tag-chip-list" aria-orientation="vertical" aria-label="File tags" [selectable]="false">
                    <mat-chip-option
                      class="theming tag-chip tag-color"
                      [attr.data-tag-namespace]="service.ideal_tag| tagNamespace"
                      [matMenuTriggerFor]="tagMenu"
                      [matMenuTriggerData]="{tag: service.ideal_tag}"
                      >
                      <div class="tag-chip-text">{{service.ideal_tag}}</div>
                    </mat-chip-option>
                  </mat-chip-listbox>
                </mat-expansion-panel>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    Siblings ({{service.siblings.length}})
                  </mat-expansion-panel-header>
                  <ng-template matExpansionPanelContent>
                    <mat-chip-listbox class="mat-mdc-chip-set-stacked tag-chip-list" aria-orientation="vertical" aria-label="File tags" [selectable]="false">
                      @for (tag of (service.siblings | orderBy); track tag) {
                        <mat-chip-option
                          class="theming tag-chip tag-color"
                          [attr.data-tag-namespace]="tag | tagNamespace"
                          [matMenuTriggerFor]="tagMenu"
                          [matMenuTriggerData]="{tag}"
                          >
                          <div class="tag-chip-text">{{tag}}</div>
                        </mat-chip-option>
                      }
                    </mat-chip-listbox>
                  </ng-template>
                </mat-expansion-panel>
                <mat-expansion-panel >
                  <mat-expansion-panel-header>
                    Ancestors ({{service.ancestors.length}})
                  </mat-expansion-panel-header>
                  <ng-template matExpansionPanelContent>
                    <mat-chip-listbox class="mat-mdc-chip-set-stacked tag-chip-list" aria-orientation="vertical" aria-label="File tags" [selectable]="false">
                      @for (tag of (service.ancestors | orderBy); track tag) {
                        <mat-chip-option
                          class="theming tag-chip tag-color"
                          [attr.data-tag-namespace]="tag | tagNamespace"
                          [matMenuTriggerFor]="tagMenu"
                          [matMenuTriggerData]="{tag}"
                          >
                          <div class="tag-chip-text">{{tag}}</div>
                        </mat-chip-option>
                      }
                    </mat-chip-listbox>
                  </ng-template>
                </mat-expansion-panel>
                <mat-expansion-panel >
                  <mat-expansion-panel-header>
                    Descendants ({{service.descendants.length}})
                  </mat-expansion-panel-header>
                  <ng-template matExpansionPanelContent>
                    <mat-chip-listbox class="mat-mdc-chip-set-stacked tag-chip-list" aria-orientation="vertical" aria-label="File tags" [selectable]="false">
                      @for (tag of (service.descendants | orderBy); track tag) {
                        <mat-chip-option
                          class="theming tag-chip tag-color"
                          [attr.data-tag-namespace]="tag | tagNamespace"
                          [matMenuTriggerFor]="tagMenu"
                          [matMenuTriggerData]="{tag}"
                          >
                          <div class="tag-chip-text">{{tag}}</div>
                        </mat-chip-option>
                      }
                    </mat-chip-listbox>
                  </ng-template>
                </mat-expansion-panel>
              </mat-accordion>
            </ng-template>
          </mat-tab>
        }
      </mat-tab-group>
    </div>
  } @else {
    <mat-spinner></mat-spinner>
  }
</div>

<mat-menu #tagMenu="matMenu">
  <ng-template matMenuContent let-tag="tag">
    <button mat-menu-item [cdkCopyToClipboard]="tag">
      <mat-icon>content_copy</mat-icon>
      <span>Copy tag</span>
    </button>
    @if (data.allowSearchTag) {
      <button mat-menu-item (click)="searchTag(tag)">
        <mat-icon>search</mat-icon>
        <span>Search tag</span>
      </button>
    }
    @if (data.allowAddTagToSearch) {
      <button mat-menu-item (click)="addSearchTag(tag)">
        <mat-icon>search</mat-icon>
        <span>Add tag to search</span>
      </button>
    }
    @if (data.allowNewSiblingParentDialog && (tag !== data.tag)) {
      <button mat-menu-item (click)="tagSiblingsParentsDialog(tag)">
        <mat-icon svgIcon="graph"></mat-icon>
        <span>View Siblings and Parents</span>
      </button>
    }
  </ng-template>
</mat-menu>
