<h1 mat-dialog-title>system:{{predicate.name}}</h1>
<form [formGroup]="predicateForm" (ngSubmit)="onAddClick()">
  <div mat-dialog-content>

    <div fxLayout="row" >

      <div *ngIf="predicate.operator === Operators.TAG_RELATIONAL" fxFlex>
        <mat-form-field appearance="outline">
          <mat-label>Namespace</mat-label>
          <input matInput formControlName="tagRelationalOperator" type="text">
        </mat-form-field>
      </div>

      <div [ngSwitch]="predicate.operator" *ngIf="this.predicate.operator" fxFlex>

        <mat-form-field appearance="outline" *ngSwitchCase="Operators.FILESERVICE_STATUS">
          <mat-label>Status</mat-label>
          <mat-select formControlName="operator">
            <mat-option *ngFor="let op of operatorOptions[predicate.operator]" [value]="op">
              {{op}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-button-toggle-group *ngSwitchDefault formControlName="operator">
          <mat-button-toggle *ngFor="let op of operatorOptions[predicate.operator]" [value]="op">{{op}}
          </mat-button-toggle>
        </mat-button-toggle-group>

      </div>



      <div [ngSwitch]="predicate.value" formGroupName="value" fxFlex>
        <mat-form-field appearance="outline" *ngSwitchCase="Value.NATURAL">
          <mat-label>{{predicate.name}}</mat-label>
          <input matInput [formControlName]="Value.NATURAL" type="number">
        </mat-form-field>
        <div *ngSwitchCase="Value.HASHLIST_WITH_DISTANCE" [formGroupName]="Value.HASHLIST_WITH_DISTANCE">
          <mat-form-field appearance="outline">
            <mat-label>Hashes</mat-label>
            <input matInput formControlName="hashes" type="text">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Distance</mat-label>
            <input matInput formControlName="distance" type="number">
          </mat-form-field>
        </div>
        <div *ngSwitchCase="Value.HASHLIST_WITH_ALGORITHM" [formGroupName]="Value.HASHLIST_WITH_ALGORITHM">
          <mat-form-field appearance="outline">
            <mat-label>Hashes</mat-label>
            <input matInput formControlName="hashes" type="text">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Algorithm</mat-label>
            <input matInput formControlName="algorithm" type="text">
          </mat-form-field>
        </div>
        <mat-form-field appearance="outline" *ngSwitchCase="Value.FILETYPE_LIST">
          <mat-label>Filetypes</mat-label>
          <input matInput [formControlName]="Value.FILETYPE_LIST" type="text">
        </mat-form-field>
        <div *ngSwitchCase="Value.DATE_OR_TIME_INTERVAL" [formGroupName]="Value.DATE_OR_TIME_INTERVAL">
          <mat-form-field appearance="outline">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <div formGroupName="interval" fxLayout="row" fxLayoutAlign="center center">
            <mat-form-field appearance="outline">
              <mat-label>Years</mat-label>
              <input matInput formControlName="years" type="number">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Months</mat-label>
              <input matInput formControlName="months" type="number">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Days</mat-label>
              <input matInput formControlName="days" type="number">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Hours</mat-label>
              <input matInput formControlName="hours" type="number">
            </mat-form-field>
          </div>
        </div>
        <div *ngSwitchCase="Value.TIME_SEC_MSEC" [formGroupName]="Value.TIME_SEC_MSEC">
          <mat-form-field appearance="outline">
            <mat-label>Seconds</mat-label>
            <input matInput formControlName="sec" type="number">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Milliseconds</mat-label>
            <input matInput formControlName="msec" type="number">
          </mat-form-field>
        </div>
        <mat-form-field appearance="outline" *ngSwitchCase="Value.ANY_STRING">
          <input matInput [formControlName]="Value.ANY_STRING" type="text">
        </mat-form-field>
        <div *ngSwitchCase="Value.TIME_INTERVAL" [formGroupName]="Value.TIME_INTERVAL" fxLayout="row" fxLayoutAlign="center center">
          <mat-form-field appearance="outline">
            <mat-label>Days</mat-label>
            <input matInput formControlName="days" type="number">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Hours</mat-label>
            <input matInput formControlName="hours" type="number">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Minutes</mat-label>
            <input matInput formControlName="min" type="number">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Seconds</mat-label>
            <input matInput formControlName="sec" type="number">
          </mat-form-field>
        </div>
        <mat-form-field appearance="outline" *ngSwitchCase="Value.INTEGER">
          <input matInput [formControlName]="Value.INTEGER" type="number">
        </mat-form-field>
        <div *ngSwitchCase="Value.RATIO" [formGroupName]="Value.RATIO" fxLayout="row" fxLayoutAlign="center center">
          <mat-form-field appearance="outline">
            <input matInput formControlName="left" type="number">
          </mat-form-field>
          <span>:</span>
          <mat-form-field appearance="outline">
            <input matInput formControlName="right" type="number">
          </mat-form-field>
        </div>
      </div>
    </div>


    <div *ngIf="this.predicate.units" fxFlex>

      <mat-form-field appearance="outline">
        <mat-select formControlName="units">
          <mat-option *ngFor="let u of unitsOptions[predicate.units]" [value]="u">
            {{u}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>

  </div>
  <div mat-dialog-actions align="end">
    <button type="button" mat-button (click)="onNoClick()">Cancel</button>
    <button type="submit" mat-button [disabled]="predicateForm.invalid">Add</button>
  </div>
</form>
