<h1 mat-dialog-title>system:{{predicate.name}}</h1>
<form [formGroup]="predicateForm" (ngSubmit)="onAddClick()">
  <div mat-dialog-content>

    <div class="form-section outer-form-section">

      <div *ngIf="predicate.operator === Operators.TAG_RELATIONAL" class="form-section">
        <mat-form-field appearance="outline" hideRequiredMarker>
          <mat-label>Namespace</mat-label>
          <input matInput formControlName="tagRelationalOperator" type="text" autocapitalize="none">
        </mat-form-field>
      </div>

      <div [ngSwitch]="predicate.operator" *ngIf="this.predicate.operator" class="form-section">
        <mat-form-field appearance="outline" hideRequiredMarker *ngSwitchCase="Operators.FILESERVICE_STATUS">
          <mat-label>Status</mat-label>
          <mat-select formControlName="operator">
            <mat-option *ngFor="let op of operatorOptions[predicate.operator]" [value]="op">
              {{op}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="form-field-spacing">
          <mat-button-toggle-group *ngSwitchDefault formControlName="operator">
            <mat-button-toggle *ngFor="let op of operatorOptions[predicate.operator]" [value]="op">{{op}}
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>

      <ng-container [ngSwitch]="predicate.value" formGroupName="value">
        <mat-form-field appearance="outline" hideRequiredMarker *ngSwitchCase="Value.NATURAL" class="natural-form">
          <mat-label>{{predicate.name | ucwords}}</mat-label>
          <input matInput [formControlName]="Value.NATURAL" type="number" min="0">
        </mat-form-field>
        <div *ngSwitchCase="Value.HASHLIST_WITH_DISTANCE" [formGroupName]="Value.HASHLIST_WITH_DISTANCE" class="wide-form form-section">
          <mat-form-field appearance="outline" hideRequiredMarker class="wide-field">
            <mat-label>Hashes</mat-label>
            <input matInput formControlName="hashes" type="text" autocapitalize="none">
            <mat-hint>Space or comma separated</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="outline" hideRequiredMarker>
            <mat-label>Distance</mat-label>
            <input matInput formControlName="distance" type="number">
          </mat-form-field>
        </div>
        <div *ngSwitchCase="Value.HASHLIST_WITH_ALGORITHM" [formGroupName]="Value.HASHLIST_WITH_ALGORITHM" class="wide-form form-section">
          <mat-form-field appearance="outline" hideRequiredMarker class="wide-field">
            <mat-label>Hashes</mat-label>
            <input matInput formControlName="hashes" type="text" autocapitalize="none">
            <mat-hint>Space or comma separated</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="outline" hideRequiredMarker>
            <mat-label>Algorithm</mat-label>
            <mat-select formControlName="algorithm">
              <mat-option *ngFor="let a of hashAlgorithms" [value]="a">
                {{a}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <mat-form-field appearance="outline" hideRequiredMarker *ngSwitchCase="Value.FILETYPE_LIST">
          <mat-label>Filetypes</mat-label>
          <mat-select [formControlName]="Value.FILETYPE_LIST" multiple>
            <mat-option *ngFor="let ft of searchFiletypes" [value]="ft.mime">{{ft.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngSwitchCase="Value.DATE_OR_TIME_INTERVAL" [formGroupName]="Value.DATE_OR_TIME_INTERVAL" class="date-form">
          <mat-form-field appearance="outline" hideRequiredMarker>
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <span class="form-field-spacing">━ OR ━</span>
          <div formGroupName="interval" class="form-section large-time-interval-form">
            <mat-form-field appearance="outline" hideRequiredMarker>
              <mat-label>Years</mat-label>
              <input matInput formControlName="years" type="number" min="0">
            </mat-form-field>
            <mat-form-field appearance="outline" hideRequiredMarker>
              <mat-label>Months</mat-label>
              <input matInput formControlName="months" type="number" min="0">
            </mat-form-field>
            <mat-form-field appearance="outline" hideRequiredMarker>
              <mat-label>Days</mat-label>
              <input matInput formControlName="days" type="number" min="0">
            </mat-form-field>
            <mat-form-field appearance="outline" hideRequiredMarker>
              <mat-label>Hours</mat-label>
              <input matInput formControlName="hours" type="number" min="0">
            </mat-form-field>
          </div>
        </div>
        <div *ngSwitchCase="Value.TIME_SEC_MSEC" [formGroupName]="Value.TIME_SEC_MSEC" class="form-section">
          <mat-form-field appearance="outline" hideRequiredMarker>
            <mat-label>Seconds</mat-label>
            <input matInput formControlName="sec" type="number" min="0">
          </mat-form-field>
          <mat-form-field appearance="outline" hideRequiredMarker>
            <mat-label>Milliseconds</mat-label>
            <input matInput formControlName="msec" type="number" min="0">
          </mat-form-field>
        </div>
        <mat-form-field appearance="outline" hideRequiredMarker *ngSwitchCase="Value.ANY_STRING" class="wide-field string-field">
          <mat-label>{{valueLabels[predicateEnum]}}</mat-label>
          <input matInput [formControlName]="Value.ANY_STRING"
          [type]="predicateEnum === SystemPredicate.URL || predicateEnum === SystemPredicate.NO_URL? 'url' : 'text'" autocapitalize="none">
        </mat-form-field>
        <div *ngSwitchCase="Value.TIME_INTERVAL" [formGroupName]="Value.TIME_INTERVAL"
        class="form-section time-interval-form">
          <mat-form-field appearance="outline" hideRequiredMarker>
            <mat-label>Days</mat-label>
            <input matInput formControlName="days" type="number" min="0">
          </mat-form-field>
          <mat-form-field appearance="outline" hideRequiredMarker>
            <mat-label>Hours</mat-label>
            <input matInput formControlName="hours" type="number" min="0">
          </mat-form-field>
          <mat-form-field appearance="outline" hideRequiredMarker>
            <mat-label>Minutes</mat-label>
            <input matInput formControlName="min" type="number" min="0">
          </mat-form-field>
          <mat-form-field appearance="outline" hideRequiredMarker>
            <mat-label>Seconds</mat-label>
            <input matInput formControlName="sec" type="number" min="0">
          </mat-form-field>
        </div>
        <mat-form-field appearance="outline" hideRequiredMarker *ngSwitchCase="Value.INTEGER" class="integer-form">
          <mat-label>Value</mat-label>
          <input matInput [formControlName]="Value.INTEGER" type="number">
        </mat-form-field>
        <div *ngSwitchCase="Value.RATIO" [formGroupName]="Value.RATIO"
          class="form-section ratio-form">
          <mat-form-field appearance="outline" hideRequiredMarker>
            <input matInput formControlName="left" type="number" min="1">
          </mat-form-field>
          <span class="form-field-spacing">:</span>
          <mat-form-field appearance="outline" hideRequiredMarker>
            <input matInput formControlName="right" type="number" min="1">
          </mat-form-field>
        </div>
      </ng-container>

      <div *ngIf="this.predicate.units" class="form-section">
        <mat-form-field appearance="outline" hideRequiredMarker class="unit-form">
          <mat-label>{{this.predicate.units === Units.FILE_RELATIONSHIP_TYPE ? 'Type' : 'Units'}}</mat-label>
          <mat-select formControlName="units">
            <mat-option *ngFor="let u of unitsOptions[predicate.units]" [value]="u">
              {{u}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

  </div>
  <div mat-dialog-actions align="end">
    <button type="button" mat-button (click)="onNoClick()">Cancel</button>
    <button type="submit" mat-button [disabled]="predicateForm.invalid">Add</button>
  </div>
</form>
