<h1 mat-dialog-title>{{this.data.title}}</h1>
<form [formGroup]="serviceForm" (ngSubmit)="submitForm()" autocomplete="off">
  <div mat-dialog-content>
    <div class="flex-column">
      <mat-form-field appearance="outline" hideRequiredMarker>
        <mat-label>Service</mat-label>
        <mat-select formControlName="service" [compareWith]="serviceCompare">
          @for (service of services$ | async; track service) {
            <mat-option [value]="service">
              {{service.name}}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button type="submit" [disabled]="serviceForm.invalid">Select</button>
  </div>
</form>
