<mat-form-field class="tag-form-field">
    <mat-chip-list #chipList aria-label="Tag Search">
      <mat-chip *ngFor="let tag of searchTags" [selectable]="false" color="primary"
                class="tag-chip"
               [removable]="true" (removed)="removeSearchTag(tag)"
               [ngClass]="'tag-namespace-' + this.tagUtils.getNamespace(tag)">
        {{tag}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input #tagInput
             placeholder="Tag Search"
             [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             matChipInputAddOnBlur="false"
             (matChipInputTokenEnd)="chipInputEvent($event)"
             [formControl]="tagCtrl"
             [matAutocomplete]="auto">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let tag of filteredTags | async" [value]="tag" [ngClass]="'tag-namespace-' + this.tagUtils.getNamespace(tag)">
        {{tag}}
      </mat-option>
    </mat-autocomplete>
</mat-form-field>