<mat-form-field class="tag-form-field" appearance="outline">
  <mat-label>{{placeholder}}</mat-label>
    <mat-chip-list #chipList [attr.aria-label]="placeholder">
      <ng-template ngFor let-tag [ngForOf]="searchTags" let-i="index" >
        <mat-chip *ngIf="tag | isString; else arrayTag" [selectable]="false" color="primary"
                  class="tag-chip"
                [removable]="true" (removed)="removeSearchTag(i)"
                [ngClass]="'tag-namespace-' + this.tagUtils.getNamespaceNoSpace($any(tag))">
          {{tag}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <ng-template #arrayTag>
          <mat-chip [selectable]="false" color="primary" class="tag-chip"
                  [removable]="true" (removed)="removeSearchTag(i)"
                  >
            {{$any(tag) | flatten | join:' OR '}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        </ng-template>
      </ng-template>
      <input #tagInput
             [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             matChipInputAddOnBlur="false"
             (matChipInputTokenEnd)="chipInputEvent($event)"
             [formControl]="tagCtrl"
             [matAutocomplete]="auto"
             (blur)="onTouched()">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <ng-container *ngIf="filteredTags | async as tags">
        <cdk-virtual-scroll-viewport *ngIf="tags.length > 25; else smallAutocomplete"
          class="virtual-scroll-viewport-full-width"
          itemSize="48" minBufferPx="256" maxBufferPx="512">
          <mat-option *cdkVirtualFor="let tag of tags" [value]="tag.value" [ngClass]="'tag-namespace-' + this.tagUtils.getNamespaceNoSpace(tag.value)">
            {{tag.value}} ({{tag.count | number}})
          </mat-option>
        </cdk-virtual-scroll-viewport>
        <ng-template #smallAutocomplete>
          <mat-option *ngFor="let tag of tags" [value]="tag.value" [ngClass]="'tag-namespace-' + this.tagUtils.getNamespaceNoSpace(tag.value)">
            {{tag.value}} ({{tag.count | number}})
          </mat-option>
        </ng-template>
      </ng-container>
    </mat-autocomplete>

    <button *ngIf="enableOrSearch || enableSystemPredicates" type="button" mat-icon-button matSuffix [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>add</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button *ngIf="enableOrSearch" type="button" mat-menu-item (click)="orSearchButton()">
        OR Search
      </button>
      <button *ngIf="enableSystemPredicates" type="button" mat-menu-item (click)="systemPredicateButton()">
        System Predicate
      </button>
    </mat-menu>
</mat-form-field>
