<mat-form-field class="tag-form-field" appearance="outline">
  <mat-label>{{placeholder}}</mat-label>
    <mat-chip-list #chipList [attr.aria-label]="placeholder">
      <ng-template ngFor let-tag [ngForOf]="searchTags" let-i="index" >
        <mat-chip *ngIf="tag | isString; else arrayTag" [selectable]="false" color="primary"
                  class="tag-chip"
                [removable]="true" (removed)="removeSearchTag(i)"
                [ngClass]="$any(tag) | tagClass">
          <div class="tag-chip-text">{{tag}}</div>
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
        <ng-template #arrayTag>
          <mat-chip [selectable]="false" color="primary" class="tag-chip"
                  [removable]="true" (removed)="removeSearchTag(i)"
                  >
            <div class="tag-chip-text">{{$any(tag) | flatten | join:' OR '}}</div>
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
        </ng-template>
      </ng-template>
      <input
        #tagInput
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        matChipInputAddOnBlur="false"
        (matChipInputTokenEnd)="chipInputEvent($event)"
        [formControl]="tagCtrl"
        [matAutocomplete]="auto"
        (blur)="onTouched()"
        enterkeyhint="done"
        autocapitalize="none"
        autocomplete="off"
      >
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <ng-container *ngIf="filteredTags | async as tags">
        <cdk-virtual-scroll-viewport *ngIf="tags.length > 25; else smallAutocomplete"
          class="virtual-scroll-viewport-full-width"
          itemSize="48" minBufferPx="256" maxBufferPx="512">
          <mat-option *cdkVirtualFor="let tag of tags" [value]="tag.value" [ngClass]="tag.value | tagClass">
            {{tag.value}} ({{tag.count | number}})
          </mat-option>
        </cdk-virtual-scroll-viewport>
        <ng-template #smallAutocomplete>
          <mat-option *ngFor="let tag of tags" [value]="tag.value" [ngClass]="tag.value | tagClass">
            {{tag.value}} ({{tag.count | number}})
          </mat-option>
        </ng-template>
      </ng-container>
    </mat-autocomplete>

    <button *ngIf="enableOrSearch || enableSystemPredicates" type="button" mat-icon-button matSuffix [matMenuTriggerFor]="addMenu" aria-label="Example icon-button with a menu" (click)="$event.stopPropagation()">
      <mat-icon>add</mat-icon>
    </button>
    <mat-menu #addMenu="matMenu">
      <button *ngIf="enableOrSearch" type="button" mat-menu-item (click)="orSearchButton()">
        OR Search
      </button>
      <button *ngIf="enableSystemPredicates" type="button" mat-menu-item [matMenuTriggerFor]="predicatesMenu">
        System Predicate
      </button>
    </mat-menu>

    <mat-menu #predicatesMenu="matMenu">
      <ng-template ngFor [ngForOf]="predicateButtons" let-pred>
        <button *ngIf="isConvertedPredicateSingle(pred); else subMenuButton" type="button" mat-menu-item (click)="systemPredicateButton(pred.predicate)">{{pred.name}}</button>
        <ng-template #subMenuButton>
          <button *ngIf="!isConvertedPredicateSingle(pred)" type="button" mat-menu-item [matMenuTriggerFor]="predicateSubMenu" [matMenuTriggerData]="{predicates: pred.predicates}">{{pred.name}}</button>
        </ng-template>
      </ng-template>
    </mat-menu>

    <mat-menu #predicateSubMenu="matMenu">
      <ng-template matMenuContent let-predicates="predicates">
        <button *ngFor="let pred of predicates" mat-menu-item (click)="systemPredicateButton(pred.predicate)">{{pred.name}}</button>
      </ng-template>
    </mat-menu>
</mat-form-field>
