/* .main-content {
    overflow: auto;
    position: relative;
    //padding-left: 16px;
   //padding-right: 16px;
}

.main-container {
    overflow: auto;
} */

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 256px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.app-title {
  padding-left: 16px;
}

.main-toolbar {
  z-index: 5 !important;
}

.sidenav-icon {
  display: block;
  width: 24px;
  padding: 4px;
}
