<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport mode="over" [autoFocus]="false">
    <mat-toolbar class="sidenav-toolbar" color="primary">
      <img src="/assets/hydrus-white.svg" class="sidenav-icon">
      <span class="app-title">Hydrus Web</span>
    </mat-toolbar>
    <mat-nav-list class="sidenav-list" role="navigation">
      <a mat-list-item routerLink="/" routerLinkActive="drawer-list-item-active" #routerLinkActiveInstance="routerLinkActive"
        [routerLinkActiveOptions]="{exact: true}" (click)="drawer.close()">
        <mat-icon matListIcon>photo</mat-icon>
        Browse
      </a>
      <a mat-list-item routerLink="/pages" routerLinkActive="drawer-list-item-active" (click)="drawer.close()">
        <mat-icon matListIcon>photo_library</mat-icon>
        Pages
      </a>
      <a mat-list-item routerLink="/send" routerLinkActive="drawer-list-item-active" (click)="drawer.close()">
        <mat-icon matListIcon>send</mat-icon>
        Send URL
      </a>
      <a mat-list-item routerLink="/upload" routerLinkActive="drawer-list-item-active" (click)="drawer.close()">
        <mat-icon matListIcon>upload</mat-icon>
        Upload File
      </a>
      <a mat-list-item routerLink="/settings" routerLinkActive="drawer-list-item-active" (click)="drawer.close()">
        <mat-icon matListIcon>settings</mat-icon>
        Settings
      </a>
      <a mat-list-item routerLink="/about" routerLinkActive="drawer-list-item-active" (click)="drawer.close()">
        <mat-icon matListIcon>info</mat-icon>
        About
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="main-toolbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        onclick="this.blur()"
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="app-title">Hydrus Web @if (env.versionInfo?.branch !== 'master') {
        <span class="mat-small">{{env.versionInfo?.branch}}</span>
      }</span>
      <span class="toolbar-spacer"></span>
      <ng-template cdkPortalOutlet #toolbarActionsPortal></ng-template>
    </mat-toolbar>
    <div class="main-content mat-typography">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
