<h1 mat-dialog-title>Hydrus Services</h1>
<div mat-dialog-content>
  @if (servicesArray$ | async; as services) {
    <div>
      <mat-list>
        @for (service of services; track service.service_key) {
          <mat-list-item>
            <h2 matListItemTitle>{{service.name}}</h2>
            <div matListItemLine>{{service.type_pretty}}
              @if (isNumericalRatingService(service)) {
                <span> &mdash; {{service.min_stars}}-{{service.max_stars}} {{service.star_shape}}s</span>
              }
              @if (isLikeRatingService(service)) {
                <span> &mdash; {{service.star_shape}} shape</span>
              }
            </div>
            <pre matListItemLine>{{service.service_key}}</pre>
          </mat-list-item>
        }
      </mat-list>
    </div>
  } @else {
    <mat-spinner></mat-spinner>
  }
</div>
