<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Welcome to Hydrus Web</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>To begin, enter your Hydrus API information in the settings page</p>
    <p>For help setting up the Hydrus API for Hydrus Web refer to the <a href="https://github.com/floogulinc/hydrus-web/wiki">wiki</a>.</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button routerLink="/settings">Go to Settings</button>
  </mat-card-actions>
</mat-card>
