.saucenao-thumbnail {
  border-radius: 4px !important;
}

.metadata-line span:not(:last-of-type) {
  margin-right: 20px;
}

.saucenao-card {
  margin-top: 16px;
}

.saucenao-results {
  margin-top: 16px;
}
.saucenao-spinner {
  margin: 32px auto 0;
}

$padding: 16px !default;
$border-radius: 4px !default;
$header-size: 40px !default;

.saucenao-card {
  display: block;
  position: relative;
  padding: $padding;
  border-radius: $border-radius;
}


.mat-card-header {
  display: flex;
  flex-direction: row;

  .mat-card-title {
    margin-bottom: 12px;
  }
}

.mat-card-header-text {
  margin: 0 $padding;
}

.mat-card-title {
  display: block;
  margin-bottom: 8px;
}

.mat-card-subtitle {
  display: block;
  margin-bottom: 16px;
}

.mat-card-title, .mat-card-subtitle {
  margin-block: 0;
}

// should be 12px space between titles and subtitles generally
// default margin-bottom is 16px, so need to move lower title up 4px
.mat-card-title:not(:first-child), .mat-card-subtitle:not(:first-child) {
  margin-top: -4px;
}

// should be 8px space between titles and subtitles in header
// default margin-bottom is 16px, so need to move subtitle in header up 4px
.mat-card-header .mat-card-subtitle:not(:first-child) {
  margin-top: -8px;
}

.mat-card-avatar {
  height: $header-size;
  width: $header-size;
  border-radius: 50%;
  flex-shrink: 0;

  // Makes `<img>` tags behave like `background-size: cover`. Not supported
  // in IE, but we're using it as a progressive enhancement.
  object-fit: cover;
}
