<h1 mat-dialog-title>SauceNAO Lookup</h1>
<div mat-dialog-content>
  <div *ngIf="saucenaoResults$ | async as saucenaoResults; else loading">
    <div *ngFor="let result of saucenaoResults" class="saucenao-card">
      <div class="mat-card-header">
        <img class="mat-card-avatar saucenao-thumbnail" [src]="result.thumbnail">
        <div class="mat-card-header-text">
          <h2 class="mat-card-title">{{result.site}}{{result.authorName ? ' - ' + result.authorName : ''}}</h2>
          <h3 class="mat-card-subtitle">{{result.similarity}}%</h3>
        </div>
      </div>

        <mat-list class="saucenao-url-list">
          <mat-list-item *ngFor="let url of result.urls">
            <div mat-line>{{url.site}}</div>
            <div mat-line>{{url.url}}</div>
            <a mat-icon-button rel="noopener noreferrer" target="_blank" href="{{url.url}}" title="Open URL in new tab">
              <mat-icon>open_in_new</mat-icon>
            </a>
            <button mat-icon-button (click)="send(url.url)" title="Send to Hydrus">
              <mat-icon>send</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>

    </div>
    <div *ngIf="saucenaoResults.length === 0" class="saucenao-card">
      <div class="mat-card-header">
        <mat-icon class="mat-card-avatar">error</mat-icon>
        <h2 class="mat-card-title">No results found</h2>
      </div>
    </div>
  </div>
  <ng-template #loading>
    <mat-spinner class="saucenao-spinner"></mat-spinner>
  </ng-template>
</div>
