<h1 mat-dialog-title>SauceNAO Lookup</h1>
<div mat-dialog-content>
  @if (saucenaoResults$ | async; as saucenaoResults) {
    <div>
      @for (result of saucenaoResults; track result) {
        <mat-card class="saucenao-card mat-elevation-z0">
          <mat-card-header>
            <img mat-card-avatar class="thumbnail" [src]="result.thumbnail">
            <mat-card-title>{{result.site}}{{result.authorName ? ' - ' + result.authorName : ''}}</mat-card-title>
            <mat-card-subtitle>{{result.similarity}}%</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <mat-list class="saucenao-url-list">
              @for (url of result.urls; track url) {
                <mat-list-item>
                  <div mat-line>{{url.site}}</div>
                  <div mat-line>{{url.url}}</div>
                  <a mat-icon-button rel="noopener noreferrer" target="_blank" href="{{url.url}}" title="Open URL in new tab">
                    <mat-icon>open_in_new</mat-icon>
                  </a>
                  <button mat-icon-button (click)="send(url.url)" title="Send to Hydrus">
                    <mat-icon>send</mat-icon>
                  </button>
                </mat-list-item>
              }
            </mat-list>
          </mat-card-content>
        </mat-card>
      }
      @if (saucenaoResults.length === 0) {
        <mat-card class="saucenao-card mat-elevation-z0">
          <mat-card-header>
            <mat-icon mat-card-avatar>error</mat-icon>
            <mat-card-title>No results found</mat-card-title>
          </mat-card-header>
        </mat-card>
      }
    </div>
  } @else {
    <mat-spinner class="saucenao-spinner"></mat-spinner>
  }
</div>
