.saucenao-thumbnail {
  border-radius: 4px !important;
}

.metadata-line span:not(:last-of-type) {
  margin-right: 20px;
}

.saucenao-card, .url-info-card {
  margin-top: 16px;
}

.saucenao-results {
  margin-top: 16px;
}
.saucenao-spinner {
  margin: 32px auto 0;
}
