.image-list-image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  background-color: #c7c5cb;
}

.mat-badge-content.mat-badge-active {
  transform: scale(1.5);
}

.mdc-image-list__image-aspect-container {
  transition: transform .135s cubic-bezier(0,0,.2,1);
}

.selected {
  transform: scale(0.85);
}
