.metadata-line span:not(:last-of-type) {
  margin-right: 20px;
}
.mat-dialog-title {
  margin-bottom: 0;
}
.mat-list {
  padding-top: 0;
}

.sheet-title {
  margin-top: 0;
}

.title-row {
  margin-top: 8px;
}

.mat-spinner {
  margin-left: auto;
  margin-right: auto;
}
.note-content {
  white-space: pre-wrap;
}
.notes-section, .tags-section {
  margin-top: 16px;
}

.tags-heading {
  margin-bottom: 0;
}
.sec-header {
  margin-bottom: 16px;
  h3 {
    margin-bottom: 0;
  }
}
.mat-action-row {
  margin-top: 8px;
}
