.mat-mdc-progress-spinner {
  margin-left: auto;
  margin-right: auto;
}

table {
  width: 100%;
}

.mat-column-num.mat-mdc-cell,
.mat-column-numPercent.mat-cell,
.mat-column-size.mat-cell,
.mat-column-sizePercent.mat-cell,
.mat-column-averageFilesize.mat-cell {
  text-align: end;
}

img {
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.mat-mdc-cell, .mat-mdc-header-cell {
  padding-left: 8px;
  padding-right: 8px;
}

.mat-mdc-header-cell {
  text-align: center;
}

.table-container {
  overflow-x: auto;
}

.centered-text {
  text-align: center;
}

.mat-mdc-dialog-content {
  max-height: 75vh;
}

.mat-mdc-table {
  background-color: unset;
}
