<h1 mat-dialog-title>Review your fate</h1>
<div mat-dialog-content>
  @if (bones$ | async; as bones) {
    <div>
      @if (bones.stats; as stats) {
        <div>
          @if (stats.boned) {
            <div>
              <img src="/assets/boned.jpg" width="350" height="230">
            </div>
          } @else {
            <p class="centered-text">CONGRATULATIONS. YOU APPEAR TO BE UNBONED, BUT REMAIN EVER VIGILANT</p>
          }
          <div class="table-container">
            <table mat-table [dataSource]="stats.table">
              <ng-container matColumnDef="label" sticky>
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">{{element.label}}:</td>
              </ng-container>
              <ng-container matColumnDef="num">
                <th mat-header-cell *matHeaderCellDef>Files</th>
                <td mat-cell *matCellDef="let element">{{element.num | number}}</td>
              </ng-container>
              <ng-container matColumnDef="numPercent">
                <th mat-header-cell *matHeaderCellDef>%</th>
                <td mat-cell *matCellDef="let element">{{element.numPercent | percent:'1.0-2'}}</td>
              </ng-container>
              <ng-container matColumnDef="size">
                <th mat-header-cell *matHeaderCellDef>Size</th>
                <td mat-cell *matCellDef="let element">{{element.size | byteSize: {units: 'iec', precision: 2} }}</td>
              </ng-container>
              <ng-container matColumnDef="sizePercent">
                <th mat-header-cell *matHeaderCellDef>%</th>
                <td mat-cell *matCellDef="let element">{{element.sizePercent | percent:'1.0-2'}}</td>
              </ng-container>
              <ng-container matColumnDef="averageFilesize">
                <th mat-header-cell *matHeaderCellDef>Average</th>
                <td mat-cell *matCellDef="let element">{{element.averageFilesize | byteSize: {units: 'iec', precision: 2} }}</td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
          <p class="centered-text">Earliest file import: {{stats.earliestImport | date:'yyyy-MM-dd HH:mm:ss'}} ({{stats.earliestImport | timeAgo}})</p>
        </div>
      } @else {
        <p>You have yet to board the ride.</p>
      }
    </div>
  } @else {
    <mat-spinner></mat-spinner>
  }
</div>
