<form [formGroup]="appSettingsForm" (ngSubmit)="submitAppSettings()" autocomplete="off">
  <div class="settings-column flex-column">
    <h2 class="mat-headline-6">Theme</h2>
    <mat-slide-toggle color="primary" formControlName="themeEnabled" class="margin-bottom-16">Enable custom theme</mat-slide-toggle>
    <mat-form-field appearance="outline">
      <mat-label>Theme Color</mat-label>
      <input matInput type="color" formControlName="themeColor">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Theme Style</mat-label>
      <mat-select formControlName="themeVariant">
        @for (variant of settingsThemeVariants; track variant.id) {
          <mat-option [value]="variant.id">
            {{variant.name}}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <h2 class="mat-headline-6">Browse</h2>
    <mat-slide-toggle color="primary" formControlName="browseSearchOnLoad" class="margin-bottom-16">Search immediately on the browse page</mat-slide-toggle>
    <mat-slide-toggle color="primary" formControlName="browseSearchWhenEmpty" class="margin-bottom-16">Search with no tags entered</mat-slide-toggle>
    <app-tag-input formControlName="browseDefaultSearchTags" placeholder="Browse page default search" [enableSiblingParentsDialog]="false" class=""></app-tag-input>
    <app-tag-input formControlName="favoriteTags" [enableFavorites]="false" [enableOrSearch]="false" [enableSiblingParentsDialog]="false" placeholder="Favorite tags" class=""></app-tag-input>
    <h2 class="mat-headline-6">File Viewing</h2>
    <mat-slide-toggle color="primary" formControlName="mediaAutoplay" class="margin-bottom-16">Autoplay video and audio files</mat-slide-toggle>
    <mat-slide-toggle color="primary" formControlName="mediaLoop" class="margin-bottom-16">Loop video and audio files</mat-slide-toggle>
    <mat-slide-toggle color="primary" formControlName="mediaDefaultMuted" class="margin-bottom-16">Video and audio files start muted</mat-slide-toggle>
    <h2 class="mat-headline-6">Send</h2>
    <mat-form-field appearance="outline">
      <mat-label>Default page name for sending URLs</mat-label>
      <input matInput type="text" autocomplete="off" formControlName="sendDefaultPage" placeholder="">
    </mat-form-field>
    <mat-slide-toggle color="primary" formControlName="sendResetFormAfterSend" class="margin-bottom-16">Reset form after sending URL to Hydrus</mat-slide-toggle>
    <mat-slide-toggle color="primary" formControlName="sendFixDiscordUrls" class="margin-bottom-16" matTooltip="media.discordapp.net to cdn.discordapp.com">Fix shared Discord URLs</mat-slide-toggle>
    <h2 class="mat-headline-6">Upload</h2>
    <mat-form-field appearance="outline">
      <mat-label>Filename Tag Service</mat-label>
      <mat-select formControlName="uploadFilenameTagService">
        <mat-option>None (disabled)</mat-option>
        @for (service of (apiSettings.apiSet() ? (tagServices$ | async) : []); track service.service_key) {
          <mat-option [value]="service.service_key">
            {{service.name}}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <h2 class="mat-headline-6">External Services</h2>
    <mat-form-field appearance="outline">
      <mat-label>hyshare base URL</mat-label>
      <input matInput type="url" autocomplete="off" formControlName="hyshareUrl" placeholder="https://my.hyshare.url/">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>IPFS multihash URL prefix</mat-label>
      <input matInput type="url" autocomplete="off" formControlName="ipfsMultihashUrlPrefix">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>SauceNAO API key</mat-label>
      <input matInput type="password" autocomplete="off" formControlName="saucenaoApiKey">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>SauceNAO search proxy URL</mat-label>
      <input matInput type="text" autocomplete="off" formControlName="saucenaoSearchProxy">
    </mat-form-field>

    <mat-slide-toggle color="primary" formControlName="photopeaIntegration" class="margin-bottom-16">Enable "open in Photopea" button</mat-slide-toggle>

    <div class="button-row">

      <button type="button" mat-icon-button [matMenuTriggerFor]="appSettingsSaveMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #appSettingsSaveMenu="matMenu">
        <button type="button" mat-menu-item (click)="this.resetAppSettings()">
          <span>Discard Changes</span>
        </button>
        <button type="button" mat-menu-item (click)="this.resetAppSettingsDefault()">
          <span>Reset to Defaults</span>
        </button>
      </mat-menu>
      <button mat-flat-button color="primary" type="submit" [disabled]="appSettingsForm.invalid || appSettingsForm.pristine">Save</button>
    </div>
  </div>
</form>
