
<div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell--span-12">
        <mdc-form-field fluid class="search-form-field">
            <mdc-text-field  name="searchField" type="url" label="Search Tags" outlined></mdc-text-field>
          </mdc-form-field>
    </div>
    <div class="mdc-layout-grid__cell--span-12">
      <mdc-image-list textProtection class="standard-image-list image-list--rounded-corners">
          <mdc-image-list-item *ngFor="let item of this.testFiles">
            <mdc-image-list-image-aspect>
                <div mdcImageListImage class="image-list-image" [style.background]="'url(http://apiurl/get_files/thumbnail?file_id=' + item + '&apikey=)'"></div>
            </mdc-image-list-image-aspect>
            <mdc-image-list-supporting>
              <span mdcImageListLabel>{{item}}</span>
            </mdc-image-list-supporting>
          </mdc-image-list-item>
        </mdc-image-list>
  </div>
</div>