<div fxLayout="column" *ngIf="this.hydrusApiUrl && this.hydrusApiKey; else noApi">
  <div class="search-bar" fxLayout="row" fxLayoutAlign="space-between center">
    <app-tag-input fxFlex (tags)="tagsChanged($event)" [defaultTags]="this.settingsService.appSettings.browseDefaultSearchTags" class="tag-input" placeholder="Tag Search"></app-tag-input>
  </div>
  <div class="search-bar" fxLayout="row" fxLayoutAlign="space-between center">
    <app-sort-input></app-sort-input>
  </div>
  <mat-progress-bar *ngIf="searching" mode="indeterminate" class="search-progress-bar"></mat-progress-bar>
  <app-image-list-loader [fileIDs]="this.currentSearchIDs" class="app-image-list"></app-image-list-loader>
</div>

<ng-template #noApi>
  <mat-card>
    <mat-card-title>Welcome to Hydrus Web</mat-card-title>
    <mat-card-content>
      <p>To begin, enter your Hydrus API information in the settings page</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button routerLink="/settings">Go to Settings</button>
    </mat-card-actions>
  </mat-card>
</ng-template>

<app-toolbar-actions>
  <span class="mat-small toolbar-count">{{this.currentSearchIDs.length}}</span>
  <button type="button" mat-icon-button aria-label="Refresh" (click)="refreshButton()"><mat-icon>refresh</mat-icon></button>
</app-toolbar-actions>
