.main-theme {
  --sys-background: #fbf8ff;
  --sys-on-background: #1b1b21;
  --sys-surface: #fbf8ff;
  --sys-surface-dim: #dbd9e0;
  --sys-surface-bright: #fbf8ff;
  --sys-surface-container-lowest: #ffffff;
  --sys-surface-container-low: #f5f2fa;
  --sys-surface-container: #efedf4;
  --sys-surface-container-high: #e9e7ef;
  --sys-surface-container-highest: #e4e1e9;
  --sys-on-surface: #1b1b21;
  --sys-surface-variant: #e3e1ec;
  --sys-on-surface-variant: #46464f;
  --sys-inverse-surface: #303036;
  --sys-inverse-on-surface: #f2eff7;
  --sys-outline: #767680;
  --sys-outline-variant: #c7c5d0;
  --sys-shadow: #000000;
  --sys-scrim: #000000;
  --sys-surface-tint: #515b92;
  --sys-primary: #515b92;
  --sys-on-primary: #ffffff;
  --sys-primary-container: #dee0ff;
  --sys-on-primary-container: #0b154b;
  --sys-inverse-primary: #bac3ff;
  --sys-secondary: #5b5d72;
  --sys-on-secondary: #ffffff;
  --sys-secondary-container: #e0e1f9;
  --sys-on-secondary-container: #181a2c;
  --sys-tertiary: #515b92;
  --sys-on-tertiary: #ffffff;
  --sys-tertiary-container: #dee0ff;
  --sys-on-tertiary-container: #0b154b;
  --sys-error: #ba1a1a;
  --sys-on-error: #ffffff;
  --sys-error-container: #ffdad6;
  --sys-on-error-container: #410002;
  --sys-primary-fixed: #dee0ff;
  --sys-primary-fixed-dim: #bac3ff;
  --sys-on-primary-fixed: #0b154b;
  --sys-on-primary-fixed-variant: #394379;
  --sys-secondary-fixed: #e0e1f9;
  --sys-secondary-fixed-dim: #c3c5dd;
  --sys-on-secondary-fixed: #181a2c;
  --sys-on-secondary-fixed-variant: #434659;
  --sys-tertiary-fixed: #dee0ff;
  --sys-tertiary-fixed-dim: #bac3ff;
  --sys-on-tertiary-fixed: #0b154b;
  --sys-on-tertiary-fixed-variant: #394379;
}

@media (prefers-color-scheme: dark) {
  .main-theme {
    --sys-background: #121318;
    --sys-on-background: #e4e1e9;
    --sys-surface: #121318;
    --sys-surface-dim: #121318;
    --sys-surface-bright: #39393f;
    --sys-surface-container-lowest: #0d0e13;
    --sys-surface-container-low: #1b1b21;
    --sys-surface-container: #1f1f25;
    --sys-surface-container-high: #29292f;
    --sys-surface-container-highest: #34343a;
    --sys-on-surface: #e4e1e9;
    --sys-surface-variant: #46464f;
    --sys-on-surface-variant: #c7c5d0;
    --sys-inverse-surface: #e4e1e9;
    --sys-inverse-on-surface: #303036;
    --sys-outline: #90909a;
    --sys-outline-variant: #46464f;
    --sys-shadow: #000000;
    --sys-scrim: #000000;
    --sys-surface-tint: #bac3ff;
    --sys-primary: #bac3ff;
    --sys-on-primary: #222c61;
    --sys-primary-container: #394379;
    --sys-on-primary-container: #dee0ff;
    --sys-inverse-primary: #515b92;
    --sys-secondary: #c3c5dd;
    --sys-on-secondary: #2d2f42;
    --sys-secondary-container: #434659;
    --sys-on-secondary-container: #e0e1f9;
    --sys-tertiary: #bac3ff;
    --sys-on-tertiary: #222c61;
    --sys-tertiary-container: #394379;
    --sys-on-tertiary-container: #dee0ff;
    --sys-error: #ffb4ab;
    --sys-on-error: #690005;
    --sys-error-container: #93000a;
    --sys-on-error-container: #ffdad6;
    --sys-primary-fixed: #dee0ff;
    --sys-primary-fixed-dim: #bac3ff;
    --sys-on-primary-fixed: #0b154b;
    --sys-on-primary-fixed-variant: #394379;
    --sys-secondary-fixed: #e0e1f9;
    --sys-secondary-fixed-dim: #c3c5dd;
    --sys-on-secondary-fixed: #181a2c;
    --sys-on-secondary-fixed-variant: #434659;
    --sys-tertiary-fixed: #dee0ff;
    --sys-tertiary-fixed-dim: #bac3ff;
    --sys-on-tertiary-fixed: #0b154b;
    --sys-on-tertiary-fixed-variant: #394379;
  }
}
