.main-theme {
  --sys-background: #f9f9ff;
  --sys-on-background: #1a1c20;
  --sys-surface: #f9f9ff;
  --sys-surface-dim: #d9d9e0;
  --sys-surface-bright: #f9f9ff;
  --sys-surface-container-lowest: #ffffff;
  --sys-surface-container-low: #f3f3fa;
  --sys-surface-container: #ededf4;
  --sys-surface-container-high: #e8e8ee;
  --sys-surface-container-highest: #e2e2e9;
  --sys-on-surface: #1a1c20;
  --sys-surface-variant: #e0e2ec;
  --sys-on-surface-variant: #44474e;
  --sys-inverse-surface: #2e3036;
  --sys-inverse-on-surface: #f0f0f7;
  --sys-outline: #74777f;
  --sys-outline-variant: #c4c6d0;
  --sys-shadow: #000000;
  --sys-scrim: #000000;
  --sys-surface-tint: #425e91;
  --sys-primary: #425e91;
  --sys-on-primary: #ffffff;
  --sys-primary-container: #d7e2ff;
  --sys-on-primary-container: #001b3f;
  --sys-inverse-primary: #abc7ff;
  --sys-secondary: #565e71;
  --sys-on-secondary: #ffffff;
  --sys-secondary-container: #dae2f9;
  --sys-on-secondary-container: #131c2b;
  --sys-tertiary: #425e91;
  --sys-on-tertiary: #ffffff;
  --sys-tertiary-container: #d7e2ff;
  --sys-on-tertiary-container: #001b3f;
  --sys-error: #ba1a1a;
  --sys-on-error: #ffffff;
  --sys-error-container: #ffdad6;
  --sys-on-error-container: #410002;
  --sys-primary-fixed: #d7e2ff;
  --sys-primary-fixed-dim: #abc7ff;
  --sys-on-primary-fixed: #001b3f;
  --sys-on-primary-fixed-variant: #284677;
  --sys-secondary-fixed: #dae2f9;
  --sys-secondary-fixed-dim: #bec6dc;
  --sys-on-secondary-fixed: #131c2b;
  --sys-on-secondary-fixed-variant: #3e4759;
  --sys-tertiary-fixed: #d7e2ff;
  --sys-tertiary-fixed-dim: #abc7ff;
  --sys-on-tertiary-fixed: #001b3f;
  --sys-on-tertiary-fixed-variant: #284677;
}

@media (prefers-color-scheme: dark) {
  .main-theme {
    --sys-background: #111318;
    --sys-on-background: #e2e2e9;
    --sys-surface: #111318;
    --sys-surface-dim: #111318;
    --sys-surface-bright: #37393e;
    --sys-surface-container-lowest: #0c0e13;
    --sys-surface-container-low: #1a1c20;
    --sys-surface-container: #1e2025;
    --sys-surface-container-high: #282a2f;
    --sys-surface-container-highest: #33353a;
    --sys-on-surface: #e2e2e9;
    --sys-surface-variant: #44474e;
    --sys-on-surface-variant: #c4c6d0;
    --sys-inverse-surface: #e2e2e9;
    --sys-inverse-on-surface: #2e3036;
    --sys-outline: #8e9099;
    --sys-outline-variant: #44474e;
    --sys-shadow: #000000;
    --sys-scrim: #000000;
    --sys-surface-tint: #abc7ff;
    --sys-primary: #abc7ff;
    --sys-on-primary: #0c305f;
    --sys-primary-container: #284677;
    --sys-on-primary-container: #d7e2ff;
    --sys-inverse-primary: #425e91;
    --sys-secondary: #bec6dc;
    --sys-on-secondary: #283041;
    --sys-secondary-container: #3e4759;
    --sys-on-secondary-container: #dae2f9;
    --sys-tertiary: #abc7ff;
    --sys-on-tertiary: #0c305f;
    --sys-tertiary-container: #284677;
    --sys-on-tertiary-container: #d7e2ff;
    --sys-error: #ffb4ab;
    --sys-on-error: #690005;
    --sys-error-container: #93000a;
    --sys-on-error-container: #ffdad6;
    --sys-primary-fixed: #d7e2ff;
    --sys-primary-fixed-dim: #abc7ff;
    --sys-on-primary-fixed: #001b3f;
    --sys-on-primary-fixed-variant: #284677;
    --sys-secondary-fixed: #dae2f9;
    --sys-secondary-fixed-dim: #bec6dc;
    --sys-on-secondary-fixed: #131c2b;
    --sys-on-secondary-fixed-variant: #3e4759;
    --sys-tertiary-fixed: #d7e2ff;
    --sys-tertiary-fixed-dim: #abc7ff;
    --sys-on-tertiary-fixed: #001b3f;
    --sys-on-tertiary-fixed-variant: #284677;
  }
}
