@use '@angular/material' as mat;



// Original tag colors from Hydrus source code
$tag-colors: (
    system: rgb(153, 101, 21),
    meta: rgb(0, 0, 0),
    creator: rgb(170, 0, 0),
    studio: rgb(128, 0, 0),
    character: rgb(0, 170, 0),
    person: rgb(0, 128, 0),
    series: rgb(170, 0, 170),
    default-namespace: rgb(114, 160, 193),
    no-namespace: rgb(0, 111, 250)
);

$mat-tag-colors : (
    system: mat.m2-define-palette(mat.$m2-orange-palette, 500, 300),
    meta: mat.m2-define-palette(mat.$m2-grey-palette, 700, 500, 900),
    creator: mat.m2-define-palette(mat.$m2-red-palette, 500, 300),
    studio: mat.m2-define-palette(mat.$m2-red-palette, 700, 500, 900),
    character: mat.m2-define-palette(mat.$m2-green-palette, 500, 300),
    person: mat.m2-define-palette(mat.$m2-green-palette, 700, 500, 900),
    series: mat.m2-define-palette(mat.$m2-purple-palette, 500, 300),
    default-namespace: mat.m2-define-palette(mat.$m2-blue-grey-palette, 500, 300),
    no-namespace: mat.m2-define-palette(mat.$m2-blue-palette, 500, 300)
);
