$pswp__show-hide-transition-duration: 0ms;
$pswp__controls-transition-duration: 0ms;
$pswp__background-color: #000;
$pswp__placeholder-color: #222;
$pswp__box-sizing-border-box: true; // disable .pswp * { box-sizing:border-box } (in case you already have it in your site css)
$pswp__root-z-index: 1500;
$pswp__assets-path: '/assets/photoswipe/'; // path to skin assets folder (preloader, PNG and SVG sprite)
$pswp__error-text-color: #ccc; // "Image not loaded" text color
$pswp__include-minimal-style: true;

@import 'photoswipe/src/css/main.scss';
@import 'photoswipe/src/css/default-skin/default-skin.scss';

.pswp-video-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}


.pswp-video {
  width: 100%;
  height: 100%;
  &:focus {
    outline: none;
  }
}

.pswp-audio-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.pswp-video-placeholder {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.pswp-video ~ .pswp-video-placeholder {
  display: none;
}

.pswp-info-button {
  width: 44px;
	height: 44px;
	position: relative;
	background: none;
	cursor: pointer;
	overflow: visible;
	-webkit-appearance: none;
	display: block;
	border: 0;
	padding: 0;
	margin: 0;
	float: right;
	opacity: 0.75;
	transition: opacity 0.2s;
	box-shadow: none;

	&:focus,
	&:hover {
		opacity: 1;
	}

	&:active {
		outline: none;
		opacity: 0.9;
	}

	&::-moz-focus-inner {
		padding: 0;
		border: 0
  }

  display: block;
  color: white;
}
