<mat-tab-group mat-align-tabs="center" animationDuration="0ms" dynamicHeight>
  <mat-tab label="API Configuration">
    <div fxLayout="column" class="settings-column">
      <mat-form-field appearance="outline">
        <mat-label>Hydrus API URL</mat-label>
        <input
          matInput
          name="hydrusApiUrl"
          type="url"
          autocomplete="off"
          ngxLocalStorage="hydrusApiUrl"
          lsEvent="input"
          [lsDebounce]="1000"
          [lsInitFromStorage]="true"
          (lsStoredValue)="this.apiUrlStored()"
          placeholder="https://my.hydrus.api/"
        >
      </mat-form-field>
      <mat-form-field appearance="outline">
          <mat-label>Hydrus API Key</mat-label>
        <input
          matInput
          name="hydrusApiKey"
          type="password"
          autocomplete="off"
          ngxLocalStorage="hydrusApiKey"
          lsEvent="input"
          [lsDebounce]="1000"
          [lsInitFromStorage]="true"
          (lsStoredValue)="this.apiKeyStored()"
        >
      </mat-form-field>
      <div fxLayout="row" class="test-button-container">
        <button mat-raised-button color="primary" (click)="this.testApi()">Test API</button>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="App Settings">
    <form [formGroup]="appSettingsForm" (ngSubmit)="submitAppSettings()" autocomplete="off">
      <div fxLayout="column" class="settings-column">
        <mat-slide-toggle formControlName="browseSearchOnLoad" class="margin-bottom-16">Search immediately on the browse page</mat-slide-toggle>
        <mat-slide-toggle formControlName="browseSearchWhenEmpty" class="margin-bottom-16">Search with no tags entered</mat-slide-toggle>
        <app-tag-input formControlName="browseDefaultSearchTags" placeholder="Browse page default search" class=""></app-tag-input>
        <app-tag-input formControlName="favoriteTags" [enableFavorites]="false" [enableOrSearch]="false" placeholder="Favorite tags" class=""></app-tag-input>
        <mat-form-field appearance="outline">
          <mat-label>hyshare base URL</mat-label>
          <input matInput type="url" autocomplete="off" formControlName="hyshareUrl" placeholder="https://my.hyshare.url/">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>IPFS multihash URL prefix</mat-label>
          <input matInput type="url" autocomplete="off" formControlName="ipfsMultihashUrlPrefix">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>SauceNAO API key</mat-label>
          <input matInput type="password" autocomplete="off" formControlName="saucenaoApiKey">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>SauceNAO search proxy URL</mat-label>
          <input matInput type="text" autocomplete="off" formControlName="saucenaoSearchProxy">
        </mat-form-field>

        <mat-slide-toggle formControlName="photopeaIntegration" class="margin-bottom-16">Enable "open in Photopea" button</mat-slide-toggle>

        <div fxLayout="row wrap" fxLayoutAlign="end" class="">

          <button type="button" mat-icon-button [matMenuTriggerFor]="appSettingsSaveMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #appSettingsSaveMenu="matMenu">
            <button type="button" mat-menu-item (click)="this.resetAppSettings()">
              <span>Discard Changes</span>
            </button>
            <button type="button" mat-menu-item (click)="this.resetAppSettingsDefault()">
              <span>Reset to Defaults</span>
            </button>
          </mat-menu>
          <button mat-raised-button color="primary" type="submit" [disabled]="appSettingsForm.invalid || appSettingsForm.pristine">Save</button>
        </div>
      </div>
    </form>
  </mat-tab>
</mat-tab-group>


