/* .settings-form-field {
    padding: 10px;
} */

.mat-display-1 {
    margin-bottom: 16px;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
}

.settings-column {
  margin-top: 8px;
}

.margin-bottom-16 {
  margin-bottom: 16px;
}
